<a href="https://colab.research.google.com/github/Wxrinsodel/Python-1/blob/main/Supawadee_Apichon_Python2_HSUTCC_Session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 2 HSUTCC: List and functions

## List Comprehension
List can be constructed in different ways, it can be constructed manually, using loops, or lastly list comprehension. Here is the way to construct using the last method.

In [ ]:
l = []
l = [1, 2, 3]

my_list = []
for i in range(10):
    my_list.append(i)

my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Without conditional

In [ ]:
# ten zeroes
zeroes = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
zeroes = []
for i in range(10):
	zeroes.append(0)

zeroes

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
zeroes = [0 for _ in range(2)]
zeroes

[0, 0]

All of above are the way to construct list of zeroes

In [ ]:
numbers = [i for i in range(5)]
square_one_to_ten = [i ** 2 for i in range(1, 11)]

numbers, square_one_to_ten

([0, 1, 2, 3, 4], [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 0])

### With conditional if

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
even_nums = []

for n in numbers:
	if n % 2 == 0:
		even_nums.append(n)

even_nums

[2, 4, 6]

In [ ]:
# With list comprehension
even_nums = [n for n in numbers if n % 2 == 0]
even_nums

[2, 4, 6]

In [ ]:
multiple_of_7 = [n for n in range(100) if n % 7 == 0]
multiple_of_7

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [ ]:
l = [0 for _ in range(10000)]
l = [0] * 10000

l = []
for _ in range(10000):
    l.append(0)

### Syntax


```python
without_condition = [expression for item in iterable]
with_condition_if = [expression for item in iterable if condition == True]
with_condition_ifelse = [expression1 if True else expression2 for item in iterable]
```

What should be the output of this program?

In [ ]:
numbers = ['even' if n % 2 == 0 else 'odd' for n in range(5)]
numbers

['even', 'odd', 'even', 'odd', 'even']

In [ ]:
numbers = []
for n in range(5):
    if n % 2 == 0:
        numbers.append('even')
    else:
        numbers.append('odd')
numbers

['even', 'odd', 'even', 'odd', 'even']

# Function Structure Recap

1 output

In [ ]:
def square(x: int) -> int:
    return x ** 2

square(4)

16

no output

In [ ]:
def square(x: int) -> int:
    result = x ** 2

print(square(4))

None

In [ ]:
def greet_person(name: str, greeting: str) -> str:
  print(greeting, name)

print(greet_person('Pop', 'Hi!'))

Hi! Pop
None

multiple outputs

In [ ]:
def get_three_chars(name: str) -> tuple:
    return name[0], name[1], name[2]

get_three_chars('Drake')

('D', 'r', 'a')

default argument

In [ ]:
def greet_person(name, greeting = 'Hi!'):
  print(greeting, name)

greet_person('Pop', 'HEY!')

HEY! Pop

keyword args cannnot be before positional args

In [ ]:
def f(a, b, c=4, d, e):
    return a+b+c+d

f(1, 2, 3, 4)

SyntaxError: non-default argument follows default argument (<ipython-input-31-62393963de48>, line 1)

\*args, **kwargs

In [ ]:
def greet_person(name, age = 10, *args, **kwargs):
  print(args, kwargs)

greet_person('Pop')

() {}

In [ ]:
name2 = 5
name3 = 4
name6 = 6
def my_print(*args, **kwargs):
  print(kwargs)
  print(args)

my_print(name2, name3, name6, first=42, second=12, third=False, name='Pop')

{'first': 42, 'second': 12, 'third': False, 'name': 'Pop'}
(5, 4, 6)

In [ ]:
def f(a, b, c=10):
    pass

f(5, b=11, c=4)

# Recursive Function

In [ ]:
# !!! Beware of crashing !!!
def f(x):
    if x > 100:
        return 0
    x += 1
    print(x)
    return f(x)

f(0)

In [ ]:
# 5! = 5 x 4 x 3 x 2 x 1
def factorial(x):
    if x == 1:
        return 1
    return x * factorial(x-1)

factorial(10)

3628800

In [ ]:
%%timeit
import time

factorial(500)
# t1 = time.time()
# result = factorial(6)
# t2 = time.time()
# print('Time usage for factorial 6: ', t2-t1)
# result = factorial(501)
# t3 = time.time()
# print('Time usage for factorial 500: ', t3-t2)

244 µs ± 8.41 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
time.time()

1729495961.1515784

# Anonymous Function

Syntax


```python
lambda args: return_expression
```

In [ ]:
f = lambda x: x ** 2
f(2)

16

In [ ]:
def square(x):
    return x ** 2

In [ ]:
f = lambda x,y: x * y
f(4, 5)

20

In [ ]:
f1 = lambda x: x ** 2 # OK
f2 = lambda x: x[0] # OK
# f3 = lambda x: x += 1  # Bad
f4 = lambda x: x % 2 == 0 # OK
f5 = lambda x: x % 2 # OK
f6 = lambda x : x.append(1)

In [ ]:
print(f6([2, 3]))

None

Benefits using with map()
Syntax of map()


```python
map(function, iterable)
```
Note that iterable is an object that can be iterated (loop over)

Using map with traditional function

In [ ]:
my_list = [1, 2, 3, 4]
def squared(i):
	return i ** 2


result1 = map(squared, my_list)
result2 = list(map(squared, my_list))
result1, result2

(<map at 0x7a7a9a18b8b0>, [1, 4, 9, 16])

In [ ]:
my_list = [1, 2, 3, 4]
result3 = list(map(lambda x: x ** 2, my_list))
result3

[1, 4, 9, 16]

In [ ]:
import math

my_list = [1.2, 2.3, math.pi, 4/3]

def convert_to_int(i):
	 return i//1

result1 = list(map(convert_to_int, my_list)) # Similar to
result2 = list(map(int, my_list))
result3 = list(map(lambda x: x//1, my_list))

result1, result2, result3

([1.0, 2.0, 3.0, 1.0], [1, 2, 3, 1], [1, 2, 3, 1])

In [ ]:
import math

my_list = [1.2, 2.3, math.pi, 4/3]
result = list(map(math.floor, my_list))

result

[1, 2, 3, 1]

using map with lambda is more computational efficient!

In [ ]:
my_list = [1, 2, 3, 4]
result = list(map(lambda x: x ** 2, my_list))
result

[1, 4, 9, 16]

In [ ]:
import math

my_list = [1.2, 2.3, math.pi, 4/3]

result = list(map(lambda x: x//1, my_list))
result

[1.0, 2.0, 3.0, 1.0]

# Global and Local Scope

We call every things outside the function declaration,
a global scope and every things inside, local scope.

In [ ]:
very_important_number = 21

In [ ]:
def print_that_number():
	print(very_important_number)

print_that_number()

21

In [ ]:
def print_my_own_value():
	very_important_number = 3
	print(very_important_number)

print_my_own_value()

3

What happen to our ```very_important_number``` variable?

In [ ]:
print(very_important_number)

21

In [ ]:
def print_my_more_important_number():
    global very_important_number
    very_important_number = 2
    print(very_important_number)

print("very_important_number", very_important_number)
print_my_more_important_number()
print("very_important_number", very_important_number)

very_important_number 21
2
very_important_number 2

**However, using global and naming local variable to be the same
as global variable is a bad practice to begin with.**

In [ ]:
def increase_value():
    very_important_number += 3

increase_value()

UnboundLocalError: local variable 'very_important_number' referenced before assignment

Butttt

In [ ]:
very_important_list = [1, 2, 3]

In [ ]:
def add_to_list(num):
	very_important_list.append(num)

add_to_list(4)
print(very_important_list)

[1, 2, 3, 4]

Let's fix that.

In [ ]:
def add_to_list_v2(num, target):
    target = target.copy()
    target.append(num)
    return target

print(add_to_list_v2(5, very_important_list))
print(very_important_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

### Sidenote: List as default argument

In [ ]:
def add_to_list_3(num, target=[]):
    target.append(num)
    print(target)

add_to_list_3(1)
add_to_list_3(1)
add_to_list_3(1)
add_to_list_3(1)
add_to_list_3(1)
add_to_list_3(1, [2])
add_to_list_3(1)

The correct way

In [ ]:
def add_to_list_3_corrected(num, target=None):
    target = target or []
    target.append(num)
    print(target)

add_to_list_3_corrected(1)
add_to_list_3_corrected(1)
add_to_list_3_corrected(1)
add_to_list_3_corrected(1)
add_to_list_3_corrected(1)
add_to_list_3_corrected(1, [2])
add_to_list_3_corrected(1)

### Sidenote: Namespace

> Namespaces are one honking great idea -- let's do more of those!

In [ ]:
my_var = 10

def my_func():
    my_var = 5
    another_var = 24

print(my_var)
print(another_var)

# Tasks

1. Write a Python function to find the max of any numbers of arguments (don't use the build in function `max()`)

In [ ]:
# You work here
def f():
    pass

2. Write a function that computes the volume of a sphere given its radius.

In [ ]:
# You work here
def f(r):
    pass

3. Write a function that checks whether a number is in a given range (Inclusive of high and low)

In [ ]:
def is_in_range(target, low, high):
    pass

4. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [ ]:
# Your work here
def f(s):
    pass

5. Write a Python function that takes a list and returns a new list with unique elements of the first list. Please use list comprehension as well

In [ ]:
# Your work here
def f(l):
    pass

6. Write a Python function to check whether a string is pangram or not.

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
For example : "The quick brown fox jumps over the lazy dog"

In [ ]:
# Your work here
def f(s):
    pass

7. Write a Python function to calculate the fibonacci number of index i (starts with 1). The function accepts the number as an argument and return a single number.
The fibonacci sequence starts with 1,1,2,3,5,8,13,21,.... Therefore, fibonacci of index 6 is number 8.

In [ ]:
# Your work here
def f(x):
    pass

8. Create a function which finds the length of each word in the phrase (broken by spaces) and return the values in a list. The function will have an input of a string, and output a list of integers.

In [ ]:
# Your work here
def f(x):
    pass

9. Write a function that accepts a list of tuples containing the name of the student and their score, sort them by the score from h.

In [ ]:
# Your work here
def f(l):
    pass

10. Write a python function that accepts a list of tuples of length 2, where each tuple contains student name and their scores respectively. The function should return the name of the student whose got maximum score. Please use `map()`, and `max()` function is strictly prohibited.

In [ ]:
# Your work here
def f(l):
    pass

HAPPY CODING :)